$font1: Roboto;
$font2: Ribeye;
$font3: Gelasio;
$color1: white;
$color2: black;
$color3: #C9453B;
$color4: rgba(0,0,0,0.5);
$color5: #2694990A;
$larger: 65px;
$large: 43px;
$biger: 36px;
$medium: 24px;
$normal: 18px;
$little: 16px;
$weight_small: 400;
$weight_medium: 500;
$weight_big: 700;